---
layout: page
title: "Our Team"
---

<!--Team Section-->
<section class="team-section alternate">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/images/resource/team-1.jpg" alt="" title=""></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>01</span></div>
                        <div class="designation">founder</div>
                        <h3 class="name">hilix drawnik</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/images/resource/team-2.jpg" alt="" title=""></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>02</span></div>
                        <div class="designation">ceo</div>
                        <h3 class="name">Jikiliki boruna</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/images/resource/team-3.jpg" alt="" title=""></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>03</span></div>
                        <div class="designation">developer</div>
                        <h3 class="name">kilix h. humble</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/images/resource/team-7.jpg" alt="" title=""></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>04</span></div>
                        <div class="designation">founder</div>
                        <h3 class="name">hilix drawnik</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/images/resource/team-8.jpg" alt="" title=""></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>05</span></div>
                        <div class="designation">ceo</div>
                        <h3 class="name">Jikiliki boruna</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/images/resource/team-9.jpg" alt="" title=""></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>06</span></div>
                        <div class="designation">developer</div>
                        <h3 class="name">kilix h. humble</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include call_to_action_2.html %}
{% include portfolios.html extra_class="alt-padding" %}