<!--About Section-->
<section class="about-section-four">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-four left-aligned">
                        <div class="sub-title">about us</div>
                        <h2>Become Success <br>In Your Team</h2>
                        <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore. </div>
                    </div>
                    <div class="text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        Excepteur sint occaecat cupidatat non proident.
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <div class="image-box">
                        <figure class="image wow rollIn"><img src="/assets/images/resource/featured-image-13.png"
                                alt=""></figure>
                        <div class="info-text wow fadeInLeft" data-wow-delay="1000ms">
                            <div class="count">25<span>+</span></div>
                            Years Of Experience
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>