<!--About Section-->
<section class="about-section-two">
    <div class="faded-text style-two"><div class="f-text"><span>About Us</span></div></div>
    <div class="auto-container">
        <div class="sec-title style-two centered">
            <h2>About Us</h2>
            <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="row clearfix">
            <!--Counter Column-->
            <div class="counter-column col-lg-4 col-md-6 col-sm-12">
                <div class="inner">
                    <div class="graph-outer">
                        <input type="text" class="dial" data-fgColor="#3302c6" data-bgColor="#ddf2ff" data-width="180" data-height="180" data-linecap="normal"  value="90" data-thickness="0.08">
                        <div class="inner-text count-box"><span class="count-text" data-stop="90" data-speed="2000"></span><span class="sign">%</span></div>
                    </div>
                    <h3>Client Satisfied</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner">
                    <figure class="image wow fadeInUp">
                        <img class="tilt-item" src="/assets/images/resource/featured-image-5.png" alt="">
                    </figure>
                </div>
            </div>
            <!--Counter Column-->
            <div class="counter-column last col-lg-4 col-md-6 col-sm-12">
                <div class="inner">
                    <div class="graph-outer">
                        <input type="text" class="dial" data-fgColor="#3302c6" data-bgColor="#ddf2ff" data-width="180" data-height="180" data-linecap="normal"  value="99" data-thickness="0.08">
                        <div class="inner-text count-box"><span class="count-text" data-stop="99" data-speed="2000"></span><span class="sign">%</span></div>
                    </div>
                    <h3>Product Quality</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                </div>
            </div>
        </div>
    </div>
</section>