<!--About Section-->
<section class="about-section-four">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-four left-aligned">
                        <div class="sub-title">για εμας</div>
                        <h2 id="about-us">Where Tech <br> Meets Business</h2>
                        <div class="lower-text"> Ισορροπήστε στο τεντωμένο σχοινί: ανάγκες του business vs. απαιτήσεις τεχνολογίας </div>
                    </div>
                    <div class="text">
                        Το λογισμικό δεν ζει κλεισμένο σε ένα κουτί. Υπάρχει για να εξυπηρετεί τις ανάγκες
                        του οργανισμού για τον οποίο γράφτηκε. Δημιουργήθηκε για να λύσει επιχειρηματικά προβλήματα,
                        να αντιμετωπίσει ανάγκες του οργανισμού, να αυτοματοποιήσει διαδικασίες όπου εμφανίζεται το
                        ανθρώπινο λάθος, να αξιοποιήσει νέες ευκαιρίες, να απλοποιήσει και να επιταχύνει.<br/>
                        <br/>
                        Ως Πραγματιστικό Λογισμικό, θεωρούμε ότι οι λύσεις μας μπορούν να αξιολογηθούν μόνο με βάση
                        την επιτυχία της πρακτικής τους εφαρμογής. Δεν είναι αρκετό "να δουλεύει". Πρέπει να δουλεύει
                        για <strong>εσάς</strong>.
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <div class="image-box">
                        <figure class="image wow rollIn"><img src="/assets/images/resource/featured-image-16.jpg"
                                alt=""></figure>
<!--                        <div class="info-text wow fadeInLeft" data-wow-delay="1000ms">-->
<!--                            <div class="count">25<span>+</span></div>-->
<!--                            Years Of Experience-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>