<!--About Section-->
<section class="about-section-three" id="scroll-section">
<figure class="floated-image-1"><img src="/assets/images/resource/featured-image-8.jpg" alt=""></figure>
<figure class="floated-image-2"><img src="/assets/images/resource/featured-image-9.jpg" alt=""></figure>
<div class="auto-container">
    <div class="row clearfix">
        <!--Text Column-->
        <div class="text-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner">
                <div class="sec-title-three left-aligned">
                    <div class="sub-title">about us</div>
                    <h2>we will help you make profit.</h2>
                    <div class="lower-text">Create your own Modern visual style on the other hand we
                        denounce with righteous indignation and dislike.</div>
                </div>
                <div class="text-content">
                    <div class="text-block">
                        <div class="title">
                            <span class="count">01</span>
                            <h4>Our Mission</h4>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation.</div>
                    </div>
                    <div class="text-block">
                        <div class="title">
                            <span class="count">02</span>
                            <h4>Our vision</h4>
                        </div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation.</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Image Column-->
        <div class="image-column col-lg-6 col-md-12 col-sm-12">
            <div class="inner clearfix">
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="horizontal"><img
                        src="/assets/images/resource/featured-image-10.jpg" alt=""></figure>
                <figure class="image paroller" data-paroller-factor="-0.07" data-paroller-factor-lg="-0.07"
                    data-paroller-factor-md="-0.07" data-paroller-factor-sm="-0.07"
                    data-paroller-type="foreground" data-paroller-direction="vertical"><img
                        src="/assets/images/resource/featured-image-11.jpg" alt=""></figure>
            </div>
        </div>
    </div>
</div>
</section>