<!--About Section-->
<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner wow fadeInLeft">
                    <div class="sec-title left-aligned">
                        <div class="sub-title">about us</div>
                        <h2>We craft solutions combining strategy</h2>
                        <div class="lower-text">We harness the strength of our multi-disciplinary teams to craft the perfect solutions</div>
                        <div class="link-box">
                            <a href="contact.html" class="theme-btn btn-style-one"><span class="btn-title">contact us</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner">
                    <figure class="image wow fadeInRight">
                        <img src="{{relative_url}}/assets/images/resource/featured-image-1.jpg" alt="" />
                        <a href="https://www.youtube.com/watch?v=AT6oSIDbGkw" class="over-link lightbox-image"><span class="icon flaticon-ui"></span></a>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>