<!--Call To Section-->
<section class="call-to-two">
    <div class="image-layer" style="background-image: url(/assets/images/background/image-3.jpg);"></div>
    <div class="auto-container">
        <div class="inner">
            <div class="images">
                <figure class="image"><img src="/assets/images/resource/author-image-2.png" alt=""></figure>
                <figure class="image"><img src="/assets/images/resource/author-image-3.png" alt=""></figure>
                <figure class="image"><img src="/assets/images/resource/author-image-4.png" alt=""></figure>
                <figure class="image"><img src="/assets/images/resource/author-image-5.png" alt=""></figure>
            </div>
            <div class="content">
                <div class="sub-title">call to action</div>
                <h2>We Are Here For Your Quote</h2>
                <div class="link-box">
                    <a href="contact.html" class="theme-btn btn-style-six"><span class="btn-title">Get A Quote</span></a>
                </div>
            </div>
        </div>
    </div>
</section>