<!--Clients Section-->
<section class="clients-section">
    <div class="image-layer" style="background-image: url({{relative_url}}/assets/images/background/image-2.jpg);"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="title-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title light left-aligned">
                        <div class="sub-title">cta</div>
                        <h2>Our strong in-house team of marketing, creative</h2>
                    </div>
                </div>
            </div>
            <div class="logos-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="row clearfix">
                        <div class="logo-block col-md-6 col-sm-6">
                            <figure class="image">
                                <a href="#"><img src="{{relative_url}}/assets/images/clients/1.png" alt="" title="" /></a>
                            </figure>
                        </div>
                        <div class="logo-block col-md-6 col-sm-6">
                            <figure class="image">
                                <a href="#"><img src="{{relative_url}}/assets/images/clients/2.png" alt="" title="" /></a>
                            </figure>
                        </div>
                        <div class="logo-block col-md-6 col-sm-6">
                            <figure class="image">
                                <a href="#"><img src="{{relative_url}}/assets/images/clients/3.png" alt="" title="" /></a>
                            </figure>
                        </div>
                        <div class="logo-block col-md-6 col-sm-6">
                            <figure class="image">
                                <a href="#"><img src="{{relative_url}}/assets/images/clients/4.png" alt="" title="" /></a>
                            </figure>
                        </div>
                        <div class="logo-block col-md-6 col-sm-6">
                            <figure class="image">
                                <a href="#"><img src="{{relative_url}}/assets/images/clients/5.png" alt="" title="" /></a>
                            </figure>
                        </div>
                        <div class="logo-block col-md-6 col-sm-6">
                            <figure class="image">
                                <a href="#"><img src="{{relative_url}}/assets/images/clients/6.png" alt="" title="" /></a>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
