<!--Contact Section-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHJe2MPH8B-gLzZu5QI0Alc73nvkLuuqQ"></script>
<script src="/assets/js/map-script.js"></script>
<section class="contact-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="form-column col-lg-6 col-md-12">
                <div class="inner">
                    <div class="sec-title left-aligned">
                        <div class="sub-title">get in touch</div>
                        <h2>drop us a line with estimate</h2>
                    </div>
                    <div class="form-box">
                        <div class="default-form contact-form">
                            <form method="post" action="http://t.commonsupport.com/callix/sendemail.php" id="contact-form" novalidate="novalidate">
                                <div class="service-select clearfix">
                                    <div class="radio-block">
                                        <input type="radio" name="service" id="radio-1"/>
                                        <label for="radio-1">Web Design</label>
                                    </div>
                                    <div class="radio-block">
                                        <input checked="" type="radio" name="service" id="radio-2"/>
                                        <label for="radio-2">UIx Design</label>
                                    </div>
                                    <div class="radio-block">
                                        <input type="radio" name="service" id="radio-3"/>
                                        <label for="radio-3">Game Design</label>
                                    </div>
                                    <div class="radio-block">
                                        <input type="radio" name="service" id="radio-4"/>
                                        <label for="radio-4">Icon Design</label>
                                    </div>
                                    <div class="radio-block">
                                        <input type="radio" name="service" id="radio-5"/>
                                        <label for="radio-5">consultacny</label>
                                    </div>
                                </div>                       
                                <div class="form-group">
                                    <div class="field-inner">
                                        <input type="text" name="username" placeholder="Enter your name" required="" value=""/>
                                        <div class="field-icon"><span class="flaticon-people"></span></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="field-inner">
                                        <input type="email" name="email" placeholder="Enter your email" required="" value=""/>
                                        <div class="field-icon"><span class="flaticon-envelope"></span></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="field-inner">
                                        <textarea name="message" placeholder="Type your message" required=""></textarea>
                                        <div class="field-icon"><span class="flaticon-edit"></span></div>
                                    </div>
                                </div>
        
                                <div class="form-group">
                                    <div class="btn-box">
                                        <button type="submit" class="theme-btn btn-style-two">
                                            <span class="btn-title">Submit Now</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-column col-lg-6 col-md-12">
                <div class="inner">
                    <!--Map Box-->
                    <div class="map-box">
                        <div class="map-canvas"
                            data-zoom="12"
                            data-lat="-37.817085"
                            data-lng="144.955631"
                            data-type="roadmap"
                            data-hue="#ffc400"
                            data-title="Singapore"
                            data-icon-path="/assets/images/icons/map-marker.png"
                            data-content="Singapore VIC 3000, USA<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>