<!--Counter Section-->
<section class="counter-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Counter Block -->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="graph-outer">
                        <input type="text" class="dial" data-fgColor="#ff6000" data-bgColor="none" data-width="200" data-height="200" data-linecap="normal" value="73" data-thickness="0.02" />
                        <div class="inner-text count-box"><span class="count-text" data-stop="73" data-speed="2000"></span><span class="sign">%</span></div>
                    </div>
                    <h5>Client Satifaction</h5>
                </div>
            </div>
            <!-- Counter Block -->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="graph-outer">
                        <input type="text" class="dial" data-fgColor="#ff6000" data-bgColor="none" data-width="200" data-height="200" data-linecap="normal" value="56" data-thickness="0.02" />
                        <div class="inner-text count-box"><span class="count-text" data-stop="56" data-speed="2000"></span><span class="sign">%</span></div>
                    </div>
                    <h5>cup of coffee</h5>
                </div>
            </div>
            <!-- Counter Block -->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="graph-outer">
                        <input type="text" class="dial" data-fgColor="#ff6000" data-bgColor="none" data-width="200" data-height="200" data-linecap="normal" value="65" data-thickness="0.02" />
                        <div class="inner-text count-box"><span class="count-text" data-stop="65" data-speed="2000"></span><span class="sign">%</span></div>
                    </div>
                    <h5>productivity</h5>
                </div>
            </div>
            <!-- Counter Block -->
            <div class="counter-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="graph-outer">
                        <input type="text" class="dial" data-fgColor="#ff6000" data-bgColor="none" data-width="200" data-height="200" data-linecap="normal" value="39" data-thickness="0.02" />
                        <div class="inner-text count-box"><span class="count-text" data-stop="39" data-speed="2000"></span><span class="sign">%</span></div>
                    </div>
                    <h5>country cover</h5>
                </div>
            </div>
        </div>
    </div>
</section>