<!--Featured Services Section-->
<section class="featured-services">
    <div class="auto-container">
        <div class="carousel-box">
            <div class="featured-service-carousel owl-theme owl-carousel">
                <!--Block-->
                <div class="featured-service-block">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!-- Image Column -->
                            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="image-box">
                                        <img src="/assets/images/resource/featured-image-5.jpg" alt="">
                                    </div>
                                    <div class="image-layer" style="background-image: url(/assets/images/resource/featured-image-5.jpg);"></div>
                                </div>
                            </div>
                            <!-- Text Column -->
                            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="sec-title-two">
                                        <div class="sub-title">web design</div>
                                        <h2>Kilix Browni Co. Website Design</h2>
                                        <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                        <div class="link-box">
                                            <a href="#" class="theme-btn btn-style-seven"><span class="btn-title">view project</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="featured-service-block">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!-- Image Column -->
                            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="image-box">
                                        <img src="/assets/images/resource/featured-image-5.jpg" alt="">
                                    </div>
                                    <div class="image-layer" style="background-image: url(/assets/images/resource/featured-image-5.jpg);"></div>
                                </div>
                            </div>
                            <!-- Text Column -->
                            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="sec-title-two">
                                        <div class="sub-title">web design</div>
                                        <h2>Kilix Browni Co. Website Design</h2>
                                        <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                        <div class="link-box">
                                            <a href="#" class="theme-btn btn-style-seven"><span class="btn-title">view project</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="featured-service-block">
                    <div class="inner-box">
                        <div class="row clearfix">
                            <!-- Image Column -->
                            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="image-box">
                                        <img src="/assets/images/resource/featured-image-5.jpg" alt="">
                                    </div>
                                    <div class="image-layer" style="background-image: url(/assets/images/resource/featured-image-5.jpg);"></div>
                                </div>
                            </div>
                            <!-- Text Column -->
                            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                                <div class="inner">
                                    <div class="sec-title-two">
                                        <div class="sub-title">web design</div>
                                        <h2>Kilix Browni Co. Website Design</h2>
                                        <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisic ing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                        <div class="link-box">
                                            <a href="#" class="theme-btn btn-style-seven"><span class="btn-title">view project</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>