<!--Features Section-->
<section class="features-section-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>01</span></div>
                    <div class="icon-box"><span class="flaticon-wizard-1"></span></div>
                    <h4>Creative Product</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>02</span></div>
                    <div class="icon-box"><span class="flaticon-settings-3"></span></div>
                    <h4>Digital Research</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>03</span></div>
                    <div class="icon-box"><span class="flaticon-worldwide-1"></span></div>
                    <h4>Web Design</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>04</span></div>
                    <div class="icon-box"><span class="flaticon-user-3"></span></div>
                    <h4>User Research</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>05</span></div>
                    <div class="icon-box"><span class="flaticon-share-1"></span></div>
                    <h4>Digital Marketing</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>06</span></div>
                    <div class="icon-box"><span class="flaticon-loupe-2"></span></div>
                    <h4>SEO Service</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>07</span></div>
                    <div class="icon-box"><span class="flaticon-game-controller"></span></div>
                    <h4>Game Design</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
            <!--Block-->
            <div class="feature-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>08</span></div>
                    <div class="icon-box"><span class="flaticon-headphones-1"></span></div>
                    <h4>24/7 Support</h4>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</div>
                    <div class="more-link"><a href="services.html">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
</section>
