<!--Featured Section-->
<section class="featured-section">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-two">
                        <div class="sub-title">Core Features</div>
                        <h2>Become Success <br>In Your Team</h2>
                        <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
                    </div>
                    <div class="content-box">
                        <div class="feature-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon"><span class="flaticon-worldwide-1"></span></div>
                                    <h4>Retina Ready Design</h4>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod tempor incididunt ut labore. </div>
                                </div>
                            </div>
                        </div>
                        <div class="feature-block-two">
                            <div class="inner-box">
                                <div class="content">
                                    <div class="icon"><span class="flaticon-edit"></span></div>
                                    <h4>Easy To Use & Customize</h4>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod tempor incididunt ut labore. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <figure class="image wow fadeInRight"><img class="tilt-item" src="/assets/images/resource/featured-image-6.png" alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>