<!--Featured Section-->
<section class="featured-section-three">
    <div class="map-layer">
        <div class="bg-layer"></div>
        <div class="map-content">
            <div class="location-point loc-one wow bounceInUp" data-wow-delay="0ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-two wow bounceInUp" data-wow-delay="300ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-three wow bounceInUp" data-wow-delay="600ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-four wow bounceInUp" data-wow-delay="300ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
            <div class="location-point loc-five wow bounceInUp" data-wow-delay="600ms">
                <div class="inner">
                    <div class="image"><img src="/assets/images/resource/featured-thumb.jpg" alt=""></div>
                    <h5>Romada Co.</h5>
                    <div class="info">12.000 People</div>
                </div>
            </div>
        </div>
    </div>
    <div class="auto-container">
        <div class="content-box">
            <div class="row clearfix">
                <div class="feature-block-three col-lg-6 col-md-6 col-sm-12 wow slideInUp">
                    <div class="inner-box">
                        <div class="content">
                            <div class="count"><span>01</span></div>
                            <div class="icon-box"><span class="flaticon-star"></span></div>
                            <h4>Standard Design</h4>
                            <div class="text">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do
                                eiusmod tempor incididunt.</div>
                        </div>
                        <figure class="image"><a href="#"><img src="/assets/images/resource/featured-image-12.jpg"
                                    alt=""></a></figure>
                    </div>
                </div>
                <div class="feature-block-three alternate col-lg-6 col-md-6 col-sm-12 wow slideInDown">
                    <div class="inner-box">
                        <figure class="image"><a href="#"><img src="/assets/images/resource/featured-image-13.jpg" alt=""></a></figure>
                        <div class="content">
                            <div class="count"><span>02</span></div>
                            <div class="icon-box"><span class="flaticon-headphones-1"></span></div>
                            <h4>24/7 on Support</h4>
                            <div class="text">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do
                                eiusmod tempor incididunt.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>