<!-- Main Footer -->
<footer class="main-footer style-two">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget links-widget">
                        <h3>Pages<span>.</span></h3>
                        <div class="widget-content">
                            <div class="row clearfix">
                                <div class="col-lg-5 col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="{{site.url}}">Home</a></li>
                                        <li><a href="/abour">About</a></li>
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/portfolio">Portfolio</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/blog">Blog</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-7 col-md-6 col-sm-12">
                                    <ul>
                                        <li><a href="/service-2">Features</a></li>
                                        <li><a href="/blog-2">Our Story</a></li>
                                        <li><a href="/team">Our Team</a></li>
                                        <li><a href="/portfolio-2">Projects</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget news-widget">
                        <h3>News feeds<span>.</span></h3>
                        <div class="widget-content">
                            {% for post in site.posts limit: 3 %}
                            <div class="news-post">
                                {% if post.post_image %}
                                <div class="post-thumb">
                                    <a href="{{post.url}}">
                                        <img src="{{post.post_image}}" alt="{{post.title}}"/>
                                    </a>
                                </div>
                                {% endif %}
                                <h5><a href="{{post.url}}">{{post.title | truncatewords: 5}}</a></h5>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!--Column-->
                <div class="column col-lg-4 col-md-6 col-sm-12">
                    <div class="footer-widget newsletter-widget">
                        <h3>Newsletter<span>.</span></h3>
                        <div class="widget-content">
                            <div class="newsletter-form">
                                <form action="http://formsubmit.io/send/{{site.email}}">
                                    <div class="form-group clearfix">
                                        <span class="input-icon fa flaticon-envelope"></span>
                                        <input type="email" name="user_email" placeholder="Enter email address" required>
                                        <button type="submit" class="theme-btn newsletter-btn">Subscribe Now</button>
                                    </div>
                                </form>
                            </div>
                            <div class="get-link"><a href="#">Get every single offers</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom-two">
        <div class="auto-container">
            <div class="copyright">{{site.copyright_text}}</div>
        </div>
    </div>
</footer>