<footer class="main-footer style-two">
<div class="auto-container">
    <!--Widgets Section-->
    <div class="widgets-section">
        <div class="row clearfix">
            <!--Column-->
            <div class="column col-lg-6 col-md-6 col-sm-12">
                <div class="footer-widget links-widget">
                    <h3>Pages<span>.</span></h3>
                    <div class="widget-content">
                        <div class="row clearfix">
                            <div class="col-lg-5 col-md-6 col-sm-12">
                                <ul>
                                    <li><a href="{{site.url}}">Αρχική</a></li>
                                    <li><a href="#about-us">Για εμάς</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-7 col-md-6 col-sm-12">
                                <ul>
                                    <li><a href="#services">Υπηρεσίες</a></li>
                                    <li><a href="#contact">Επικοινωνία</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Column-->
            <div class="column col-lg-6 col-md-6 col-sm-12">
                <div class="footer-widget newsletter-widget">
                    <h3>Newsletter<span>.</span></h3>
                    <div class="widget-content">
                        <div class="newsletter-form">
                            <form action="http://formsubmit.io/send/{{site.email}}">
                                <div class="form-group clearfix">
                                    <span class="input-icon fa flaticon-envelope"></span>
                                    <label for="email">Email</label>
                                    <input type="email" name="email" id="email"
                                        placeholder="Εισάγετε την διεύθυνση email" required/>
                                    <button type="submit" class="theme-btn newsletter-btn">Εγγραφή τώρα</button>
                                </div>
                            </form>
                        </div>
                        <div class="get-link"><a href="#">Μάθετε τα νέα μας</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom -->
<div class="footer-bottom-two">
    <div class="auto-container">
        <div class="copyright">{{site.copyright_text}}</div>
    </div>
</div>
</footer>