
<!--Process Section-->
<section class="process-section">
    <div class="curve"></div>
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="faded-text style-two"><div class="f-text"><span>Process</span></div></div>
    <div class="auto-container">
        <div class="sec-title style-two centered">
            <h2>How It Works</h2>
            <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </div>
        <div class="row clearfix">
            <!--Block-->
            <div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>01</span></div>
                    <div class="icon-box"><span class="flaticon-avatar"></span></div>
                    <h4>Disccussions</h4>
                    <div class="text">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                </div>
            </div>
            <!--Block-->
            <div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>02</span></div>
                    <div class="icon-box"><span class="flaticon-boat-anchor"></span></div>
                    <h4>Wireframe</h4>
                    <div class="text">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                </div>
            </div>
            <!--Block-->
            <div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>03</span></div>
                    <div class="icon-box"><span class="flaticon-computer-graphic"></span></div>
                    <h4>UI & Develop</h4>
                    <div class="text">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                </div>
            </div>
            <!--Block-->
            <div class="process-block col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="pattern-layer"></div>
                    <div class="count"><span>04</span></div>
                    <div class="icon-box"><span class="flaticon-recycling-truck"></span></div>
                    <h4>Product Delivery</h4>
                    <div class="text">Lorem ipsum dolor sit amet, cons ectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                </div>
            </div>
        </div>
    </div>
</section>