<section class="portfolio-section-three fullwidth portfolio-masonry">
    <!--Masonry Galery-->
    <div class="sortable-masonry filter-gallery">
        <div class="filters clearfix">
            <ul class="filter-tabs filter-btns clearfix">
                <li class="filter active" data-role="button" data-filter=".all">All Works</li>
                <li class="filter" data-role="button" data-filter=".web">Web Design</li>
                <li class="filter" data-role="button" data-filter=".uxui">UX Design</li>
                <li class="filter" data-role="button" data-filter=".game">Game Design</li>
                <li class="filter" data-role="button" data-filter=".seo">SEO</li>
            </ul>                     
        </div>

        <div class="items-container clearfix">
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all game">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/25.jpg"><img src="/assets/images/gallery/25.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/25.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all seo">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/27.jpg"><img src="/assets/images/gallery/27.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/27.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item width-50 all web uxui seo">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/28.jpg"><img src="/assets/images/gallery/28.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/28.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all web game seo">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/26.jpg"><img src="/assets/images/gallery/26.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/26.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item width-50 all web uxui game">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/29.jpg"><img src="/assets/images/gallery/29.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/29.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all uxui game seo">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/30.jpg"><img src="/assets/images/gallery/30.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/30.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all seo">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/31.jpg"><img src="/assets/images/gallery/31.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/31.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two masonry-item all web uxui seo">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/32.jpg"><img src="/assets/images/gallery/32.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/32.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
