<!--Portfolio Section-->
<section class="portfolio-section-two">
<div class="outer-container">
    <div class="masonry-container row clearfix">
        <!--Gallery Item-->
        <div class="gallery-item masonry-item col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <figure class="image-box">
                    <img src="/assets/images/gallery/10.jpg" alt="portfolio">
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="caption-box">
                            <h4><a href="#">Retina Ready</a></h4>
                            <span>Web Development</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <!--Gallery Item-->
        <div class="gallery-item masonry-item col-lg-6 col-md-6 col-sm-12">
            <div class="inner-box">
                <figure class="image-box">
                    <img src="/assets/images/gallery/12.jpg" alt="portfolio">
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="caption-box">
                            <h4><a href="#">Pixel Perfect</a></h4>
                            <span>Web Design</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <!--Gallery Item-->
        <div class="gallery-item masonry-item col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <figure class="image-box">
                    <img src="/assets/images/gallery/11.jpg" alt="portfolio">
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="caption-box">
                            <h4><a href="#">Retina Ready</a></h4>
                            <span>Web Development</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <!--Gallery Item-->
        <div class="gallery-item masonry-item col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <figure class="image-box">
                    <img src="/assets/images/gallery/13.jpg" alt="portfolio">
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="caption-box">
                            <h4><a href="#">Pixel Perfect</a></h4>
                            <span>Web Design</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
        <!--Gallery Item-->
        <div class="gallery-item masonry-item col-lg-3 col-md-6 col-sm-12">
            <div class="inner-box">
                <figure class="image-box">
                    <img src="/assets/images/gallery/14.jpg" alt="portfolio">
                    <!--Overlay Box-->
                    <div class="overlay-box">
                        <div class="caption-box">
                            <h4><a href="#">Retina Ready</a></h4>
                            <span>Web Development</span>
                        </div>
                    </div>
                </figure>
            </div>
        </div>
    </div>
</div>
</section>