<section class="portfolio-section-four">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Gallery Item-->
            <div class="gallery-item-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/33.jpg"><img src="/assets/images/gallery/33.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/33.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/34.jpg"><img src="/assets/images/gallery/34.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/34.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/35.jpg"><img src="/assets/images/gallery/35.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/35.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/36.jpg"><img src="/assets/images/gallery/36.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/36.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/37.jpg"><img src="/assets/images/gallery/37.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/37.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Gallery Item-->
            <div class="gallery-item-two col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                    <div class="image-box">
                        <figure class="image">
                            <a class="lightbox-image" href="/assets/images/gallery/38.jpg"><img src="/assets/images/gallery/38.jpg" alt=""></a>
                        </figure>
                        <div class="hover-box">
                            <div class="hover-inner">
                                <div class="content">
                                    <h4><a href="#">Galactica Super Nova</a></h4>
                                    <div class="separator"><span class="dot"></span></div>
                                    <div class="category">Adventure</div>
                                </div>
                            </div>
                            <div class="zoom-btn">
                                <a class="lightbox-image zoom-link" href="/assets/images/gallery/38.jpg" data-fancybox="gallery"><span class="icon flaticon-expand"></span></a>
                            </div>
                            <div class="link-btn">
                                <a href="#"><span class="icon flaticon-link-1"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>