<!--Pricing-->
<section class="pricing-section">
    <div class="upper-title">
        <div class="faded-text light"><div class="f-text"><span>pricing</span></div></div>
        <div class="auto-container">
            <div class="sec-title light centered">
                <div class="sub-title">pricing</div>
                <h2>pricing & plans</h2>
            </div>
        </div>
    </div>
    <div class="lower-content">
        <div class="auto-container">
            <div class="content-container">
                <div class="row clearfix">
                    <!--Block-->
                    <div class="pricing-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="pricing-header">
                                <div class="price-title">personal</div>
                                <div class="price"><sub>$</sub><span>199</span><sub>mo.</sub></div>
                            </div>
                            <div class="lower-box">
                                <div class="features">
                                    <ul>
                                        <li><strong>Advanced</strong> Analytics</li>
                                        <li><strong>Change</strong> Management</li>
                                        <li><strong>Corporate</strong> Finance</li>
                                        <li><strong>Strategy &</strong> Marketing</li>
                                        <li><strong>Information</strong> Technology</li>
                                    </ul>
                                </div>
                                <div class="link-box"><a href="contact.html" class="theme-btn btn-style-one"><span class="btn-title">purchase now</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="pricing-block featured-plan col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="pricing-header">
                                <div class="price-title">Advance</div>
                                <div class="price"><sub>$</sub><span>299</span><sub>mo.</sub></div>
                            </div>
                            <div class="lower-box">
                                <div class="features">
                                    <ul>
                                        <li><strong>Advanced</strong> Analytics</li>
                                        <li><strong>Change</strong> Management</li>
                                        <li><strong>Corporate</strong> Finance</li>
                                        <li><strong>Strategy &</strong> Marketing</li>
                                        <li><strong>Information</strong> Technology</li>
                                    </ul>
                                </div>
                                <div class="link-box"><a href="contact.html" class="theme-btn btn-style-one"><span class="btn-title">purchase now</span></a></div>
                            </div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="pricing-block col-lg-4 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="pricing-header">
                                <div class="price-title">Team</div>
                                <div class="price"><sub>$</sub><span>399</span><sub>mo.</sub></div>
                            </div>
                            <div class="lower-box">
                                <div class="features">
                                    <ul>
                                        <li><strong>Advanced</strong> Analytics</li>
                                        <li><strong>Change</strong> Management</li>
                                        <li><strong>Corporate</strong> Finance</li>
                                        <li><strong>Strategy &</strong> Marketing</li>
                                        <li><strong>Information</strong> Technology</li>
                                    </ul>
                                </div>
                                <div class="link-box"><a href="contact.html" class="theme-btn btn-style-one"><span class="btn-title">purchase now</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>