<!--Services Section-->
<section class="services-section-two">
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="faded-text style-two light"><div class="f-text"><span>services</span></div></div>
    <div class="auto-container">
        <div class="sec-title style-three light centered">
            <div class="sub-title">services</div>
            <h2>what we do</h2>
        </div>
        <div class="services-carousel owl-theme owl-carousel">
            <!--Block-->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="count"><span>01</span></div>
                    <div class="icon-box">
                        <span class="flaticon-worldwide-1"></span>
                    </div>
                    <h3>Web Design</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two padd-top">
                <div class="inner-box">
                    <div class="count"><span>02</span></div>
                    <div class="icon-box">
                        <span class="flaticon-path"></span>
                    </div>
                    <h3>product design</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="count"><span>03</span></div>
                    <div class="icon-box">
                        <span class="flaticon-seo"></span>
                    </div>
                    <h3>Digital services</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two padd-top">
                <div class="inner-box">
                    <div class="count"><span>04</span></div>
                    <div class="icon-box">
                        <span class="flaticon-case"></span>
                    </div>
                    <h3>Business Plan</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="count"><span>05</span></div>
                    <div class="icon-box">
                        <span class="flaticon-computer-graphic"></span>
                    </div>
                    <h3>Graphic Design</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two padd-top">
                <div class="inner-box">
                    <div class="count"><span>01</span></div>
                    <div class="icon-box">
                        <span class="flaticon-worldwide-1"></span>
                    </div>
                    <h3>Web Design</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="count"><span>02</span></div>
                    <div class="icon-box">
                        <span class="flaticon-path"></span>
                    </div>
                    <h3>product design</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two padd-top">
                <div class="inner-box">
                    <div class="count"><span>03</span></div>
                    <div class="icon-box">
                        <span class="flaticon-seo"></span>
                    </div>
                    <h3>Digital services</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two">
                <div class="inner-box">
                    <div class="count"><span>04</span></div>
                    <div class="icon-box">
                        <span class="flaticon-case"></span>
                    </div>
                    <h3>Business Plan</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block-two padd-top">
                <div class="inner-box">
                    <div class="count"><span>05</span></div>
                    <div class="icon-box">
                        <span class="flaticon-computer-graphic"></span>
                    </div>
                    <h3>Graphic Design</h3>
                    <div class="features">
                        <ul>
                            <li>Print Related Items</li>
                            <li>Brain Stroming</li>
                            <li>Motion Graphic</li>
                            <li>Sketch Works</li>
                            <li>UI/UX Design</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
