<!--Services Section-->
<section class="services-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-vector-1"></span></div>
                    <div class="count">01</div>
                    <h3>ui/ux design</h3>
                    <div class="icon-box"><span class="flaticon-vector-1"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-data"></span></div>
                    <div class="count">02</div>
                    <h3>Web design</h3>
                    <div class="icon-box"><span class="flaticon-data"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-bullhorn"></span></div>
                    <div class="count">03</div>
                    <h3>digital marketing</h3>
                    <div class="icon-box"><span class="flaticon-bullhorn"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-consultation"></span></div>
                    <div class="count">04</div>
                    <h3>consultancy</h3>
                    <div class="icon-box"><span class="flaticon-consultation"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-joystick"></span></div>
                    <div class="count">05</div>
                    <h3>game design</h3>
                    <div class="icon-box"><span class="flaticon-joystick"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-settings-1"></span></div>
                    <div class="count">06</div>
                    <h3>24/7 support</h3>
                    <div class="icon-box"><span class="flaticon-settings-1"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
        </div>
    </div>
</section>