<!--Featured Section-->
<section class="featured-section-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <figure class="image wow fadeInLeft"><img class="tilt-item" src="/assets/images/resource/featured-image-7.png" alt=""></figure>
                </div>
            </div>
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-two">
                        <div class="sub-title">Service Exist</div>
                        <h2>Clean Productivity With Be Half.</h2>
                        <div class="lower-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore. </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Astrology & Mechanical Setup</li>
                            <li>Retina Display Support</li>
                            <li>Unique & Minimal Design</li>
                            <li>Free Icons & Illustrations</li>
                            <li>24/7 Online Support</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>