<!--Services Section-->
<section class="services-section-two">
<div class="bubble-dotted">
    <span class="dotted dotted-1"></span>
    <span class="dotted dotted-2"></span>
    <span class="dotted dotted-3"></span>
    <span class="dotted dotted-4"></span>
    <span class="dotted dotted-5"></span>
    <span class="dotted dotted-6"></span>
    <span class="dotted dotted-7"></span>
    <span class="dotted dotted-8"></span>
    <span class="dotted dotted-9"></span>
    <span class="dotted dotted-10"></span>
</div>
<div class="faded-text style-two light">
    <div class="f-text"><span>services</span></div>
</div>
<div class="auto-container">
    <div class="sec-title style-three light centered">
        <div class="sub-title">services</div>
        <h2 id="services">what we do</h2>
    </div>
    <div class="services-carousel owl-theme owl-carousel">
        <!--Block-->
        <div class="service-block-two">
            <div class="inner-box">
                <div class="count"><span>01</span></div>
                <div class="icon-box">
                    <span class="flaticon-worldwide-1"></span>
                </div>
                <h3>Consulting</h3>
                <div class="features">
                    <ul>
                        <li>Software Engineering</li>
                        <li>Lean Software Development</li>
                        <li>Cloud Operations</li>
                        <li>Amazon Web Services (AWS)</li>
                        <li>Azure</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="service-block-two padd-top">
            <div class="inner-box">
                <div class="count"><span>02</span></div>
                <div class="icon-box">
                    <span class="flaticon-path"></span>
                </div>
                <h3>Coaching</h3>
                <div class="features">
                    <ul>
                        <li>Technical Agile Coaching</li>
                        <li>eXtreme Programming Practices</li>
                        <li>Scrum</li>
                        <li>Kanban</li>
                        <li>Virtual Tool Setup (Jira)</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="service-block-two">
            <div class="inner-box">
                <div class="count"><span>03</span></div>
                <div class="icon-box">
                    <span class="flaticon-seo"></span>
                </div>
                <h3>Workshops</h3>
                <div class="features">
                    <ul>
                        <li>Workshop Facilitation</li>
                        <li>Company Retreats on Crete</li>
                        <li>Venue Management</li>
                        <li>Unique Activities</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="service-block-two padd-top">
            <div class="inner-box">
                <div class="count"><span>04</span></div>
                <div class="icon-box">
                    <span class="flaticon-case"></span>
                </div>
                <h3>Continuous Integration</h3>
                <div class="features">
                    <ul>
                        <li>Testing Strategies</li>
                        <li>CI Pipeline Design</li>
                        <li>Test Suite Parallelization</li>
                        <li>Jenkins</li>
                        <li>CircleCI</li>
                        <li>GitLab CI</li>
                        <li>GitHub Actions</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="service-block-two">
            <div class="inner-box">
                <div class="count"><span>05</span></div>
                <div class="icon-box">
                    <span class="flaticon-computer-graphic"></span>
                </div>
                <h3>Continuous Delivery</h3>
                <div class="features">
                    <ul>
                        <li>Rollout Strategies</li>
                        <li>Blue/Green</li>
                        <li>Canary Deployments</li>
                        <li>Jenkins</li>
                        <li>ArgoCD</li>
                        <li>Spinnaker</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="service-block-two padd-top">
            <div class="inner-box">
                <div class="count"><span>01</span></div>
                <div class="icon-box">
                    <span class="flaticon-worldwide-1"></span>
                </div>
                <h3>Training</h3>
                <div class="features">
                    <ul>
                        <li>Automated Testing</li>
                        <li>CI/CD</li>
                        <li>Cloud Operations</li>
                        <li>Kubernetes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</section>