<!--Services Section-->
<section class="services-section" id="scroll-section">
    <div class="faded-text light">
        <div class="f-text"><span>services</span></div>
    </div>
    <div class="auto-container">
        <div class="sec-title light centered">
            <div class="sub-title">services</div>
            <h2>What We Do</h2>
        </div>
        <div class="row clearfix">
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow flipInY" data-wow-delay="0ms">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-vector-1"></span></div>
                    <div class="count">01</div>
                    <h3>ui/ux design</h3>
                    <div class="icon-box"><span class="flaticon-vector-1"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow flipInY" data-wow-delay="300ms">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-data"></span></div>
                    <div class="count">02</div>
                    <h3>Web design</h3>
                    <div class="icon-box"><span class="flaticon-data"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
            <!--Block-->
            <div class="service-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box wow flipInY" data-wow-delay="600ms">
                    <div class="hover-curve"></div>
                    <div class="bg-icon-box"><span class="flaticon-bullhorn"></span></div>
                    <div class="count">03</div>
                    <h3>digital marketing</h3>
                    <div class="icon-box"><span class="flaticon-bullhorn"></span></div>
                    <div class="text">Product Development, Product Consultation, Architecture Design, UX Design</div>
                </div>
            </div>
        </div>
    </div>
</section>
