<!-- Hidden Navigation Bar -->
<section class="hidden-bar right-align">
    <div class="hidden-bar-closer">
        <button>Close &nbsp;<span class="flaticon-letter-x"></span></button>
    </div>
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="content-box">
            <h3>ΕΠΙΚΟΙΝΩΝΙΑ</h3>
            <div class="text">Πείτε μας πώς μπορούμε να βοηθήσουμε</div>
        </div>
        <div class="contact-info">
            <h2>Στοιχεία Επικοινωνίας</h2>
            <ul class="list-style-two">
                <li><span class="icon fa fa-map-marker-alt"></span>Βασιλειές, 71500, Ηράκλειο Κρήτης</li>
                <li><span class="icon fa fa-envelope-open"></span> <a href="mailto:write@pragmatic-software.gr">write@pragmatic-software.gr</a></li>
            </ul>
        </div>
    </div>
    <!-- / Hidden Bar Wrapper -->
</section>
<!-- End / Hidden Bar -->