<!-- Hidden Navigation Bar -->
<section class="hidden-bar right-align">
    <div class="hidden-bar-closer">
        <button><span class="flaticon-letter-x"></span></button>
    </div>
    <!-- Hidden Bar Wrapper -->
    <div class="hidden-bar-wrapper">
        <div class="logo">
            <a href="index-2.html"><img src="{{relative_url}}/assets/images/logo.png" alt="" /></a>
        </div>
        <div class="content-box">
            <h3>Get In Touch</h3>
            <div class="text">We must explain to you how all seds this mistakens idea off denouncing pleasures and praising pain was born and I will give you a completed accounts..</div>
            <a href="about.html" class="theme-btn btn-style-two"><div class="btn-title">Consultation</div></a>
        </div>
        <div class="contact-info">
            <h2>Contact Info</h2>
            <ul class="list-style-two">
                <li><span class="icon fa fa-map-marker-alt"></span>Sailing 26, Old Brozon Mall, Newyrok NY 10005</li>
                <li><span class="icon fa fa-phone-alt"></span><a href="tel:555626-0234">555 626-0234</a></li>
                <li><span class="icon fa fa-envelope-open"></span> <a href="mailto:support@sailing.com">support@sailing.com</a></li>
                <li><span class="icon fa fa-clock"></span>Week Days: 09.00 to 18.00 Sunday: Closed</li>
            </ul>
        </div>
    </div>
    <!-- / Hidden Bar Wrapper -->
</section>
<!-- End / Hidden Bar -->