<!--Skills Section-->
<section class="skill-section-two">
    <div class="curve"></div>
    <div class="bubble-dotted">
        <span class="dotted dotted-1"></span>
        <span class="dotted dotted-2"></span>
        <span class="dotted dotted-3"></span>
        <span class="dotted dotted-4"></span>
        <span class="dotted dotted-5"></span>
        <span class="dotted dotted-6"></span>
        <span class="dotted dotted-7"></span>
        <span class="dotted dotted-8"></span>
        <span class="dotted dotted-9"></span>
        <span class="dotted dotted-10"></span>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-four left-aligned">
                        <div class="sub-title">skills</div>
                        <h2>Happy To Share <br>With You Fellas</h2>
                    </div>
                    <div class="content">
                        <div class="skill-block">
                            <div class="bar-item">
                                <div class="clearfix">
                                    <div class="skill-title">Graphic Design</div>
                                    <div class="skill-percentage">
                                        <div class="count-box"><span class="count-text" data-speed="2000"
                                                data-stop="82">0</span>%</div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="82"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bar-item">
                                <div class="clearfix">
                                    <div class="skill-title">Web design</div>
                                    <div class="skill-percentage">
                                        <div class="count-box"><span class="count-text" data-speed="2000"
                                                data-stop="70">0</span>%</div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="70"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bar-item">
                                <div class="clearfix">
                                    <div class="skill-title">Typography</div>
                                    <div class="skill-percentage">
                                        <div class="count-box"><span class="count-text" data-speed="2000"
                                                data-stop="90">0</span>%</div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="90"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bar-item">
                                <div class="clearfix">
                                    <div class="skill-title">Search engine</div>
                                    <div class="skill-percentage">
                                        <div class="count-box"><span class="count-text" data-speed="2000"
                                                data-stop="56">0</span>%</div>
                                    </div>
                                </div>
                                <div class="skill-bar">
                                    <div class="bar-inner">
                                        <div class="bar progress-line" data-width="56"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <figure class="image wow slideInUp"><img src="/assets/images/resource/featured-image-14.jpg" alt="">
                    </figure>
                    <figure class="image wow slideInRight"><img src="/assets/images/resource/featured-image-15.jpg"
                            alt=""></figure>
                </div>
            </div>
        </div>
    </div>
</section>