<!-- Banner Section -->
<section class="banner-section banner-one">
    <div class="image-layer" style="background-image: url({{relative_url}}/assets/images/main-slider/1.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="content clearfix">
                <div class="inner">
                    <div class="services-title">ui/ux design &nbsp;- &nbsp;Web Design &nbsp;-&nbsp; seo</div>
                    <h1>Creative <br /> agency</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-down">
        <div class="scroll-to-target" data-target="#scroll-section"><span class="icon flaticon-right-arrow"></span></div>
    </div>
</section>
<!--End Banner Section -->