<!-- Banner Section -->
<section class="banner-section banner-four">
    <div class="outer-container">
        <div class="banner-carousel owl-theme owl-carousel">
            <div class="slide-item">
                <div class="image-layer" style="background-image: url(/assets/images/main-slider/3.jpg);"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <div class="content clearfix">
                            <div class="inner">
                                <div class="sub-title">ΕΙΔΙΚΟΙ ΣΤΟ Software Quality</div>
                                <h1 id="pragmatic">Pragmatic Software</h1>
                                <div class="link-box clearfix">
                                    <a href="#contact" class="theme-btn btn-style-ten"><span
                                            class="btn-title">ΕΠΙΚΟΙΝΩΝΙΑ</span></a>
                                    <a href="#about-us" class="theme-btn btn-style-three"><span
                                            class="btn-title">ΜΑΘΕΤΕ ΠΕΡΙΣΣΟΤΕΡΑ</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->