<!--Sponsors Section-->
<section class="sponsors-section alternate">
    <div class="image-layer" style="background-image: url(/assets/images/background/image-6.jpg);"></div>
    <div class="sponsors-outer">
        <!--Sponsors-->
        <div class="auto-container">
            <!--Sponsors Carousel-->
            <div class="sponsors-carousel owl-theme owl-carousel">
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/7.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/8.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/9.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/10.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/11.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/7.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/8.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/9.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/10.png" alt=""></a></figure>
                </div>
                <div class="slide-item">
                    <figure class="image-box"><a href="#"><img src="/assets/images/clients/11.png" alt=""></a></figure>
                </div>
            </div>
        </div>
    </div>
</section>