<!--Team Section-->
<section class="team-section-two">
<div class="faded-text style-two">
    <div class="f-text"><span>team</span></div>
</div>
<div class="auto-container">
    <div class="sec-title-three centered">
        <div class="sub-title">Team</div>
        <h2>our leadership</h2>
    </div>
    <div class="team-carousel-two owl-theme owl-carousel">
        <!--Block-->
        <div class="team-block-two">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="/assets/images/resource/team-4.jpg" alt="" title=""></figure>
                    <div class="designation">ceo & Founder</div>
                </div>
                <div class="lower-box">
                    <h3 class="name">Rosalina WIlliam</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do
                        eiusmod</div>
                    <div class="social">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="team-block-two">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="/assets/images/resource/team-5.jpg" alt="" title=""></figure>
                    <div class="designation">ui/ux deisgner</div>
                </div>
                <div class="lower-box">
                    <h3 class="name">Hilix baristowni</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do
                        eiusmod</div>
                    <div class="social">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="team-block-two">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="/assets/images/resource/team-6.jpg" alt="" title=""></figure>
                    <div class="designation">web developer</div>
                </div>
                <div class="lower-box">
                    <h3 class="name">yokohama perira</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do
                        eiusmod</div>
                    <div class="social">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="team-block-two">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="/assets/images/resource/team-4.jpg" alt="" title=""></figure>
                    <div class="designation">ceo & Founder</div>
                </div>
                <div class="lower-box">
                    <h3 class="name">Rosalina WIlliam</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do
                        eiusmod</div>
                    <div class="social">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="team-block-two">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="/assets/images/resource/team-5.jpg" alt="" title=""></figure>
                    <div class="designation">ui/ux deisgner</div>
                </div>
                <div class="lower-box">
                    <h3 class="name">Hilix baristowni</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do
                        eiusmod</div>
                    <div class="social">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--Block-->
        <div class="team-block-two">
            <div class="inner-box">
                <div class="image-box">
                    <figure class="image"><img src="/assets/images/resource/team-6.jpg" alt="" title=""></figure>
                    <div class="designation">web developer</div>
                </div>
                <div class="lower-box">
                    <h3 class="name">yokohama perira</h3>
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do
                        eiusmod</div>
                    <div class="social">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                            <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>