<!--Team Section-->
<section class="team-section">
    <div class="faded-text">
        <div class="f-text"><span>team</span></div>
    </div>
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="sub-title">Team</div>
            <h2>Our Team</h2>
        </div>
        <div class="team-carousel owl-theme owl-carousel">
            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-1.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>01</span></div>
                        <div class="designation">founder</div>
                        <h3 class="name">hilix drawnik</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-2.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>02</span></div>
                        <div class="designation">ceo</div>
                        <h3 class="name">Jikiliki boruna</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-3.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>03</span></div>
                        <div class="designation">developer</div>
                        <h3 class="name">kilix h. humble</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-1.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>01</span></div>
                        <div class="designation">founder</div>
                        <h3 class="name">hilix drawnik</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-2.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>02</span></div>
                        <div class="designation">ceo</div>
                        <h3 class="name">Jikiliki boruna</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-3.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>03</span></div>
                        <div class="designation">developer</div>
                        <h3 class="name">kilix h. humble</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-1.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>01</span></div>
                        <div class="designation">founder</div>
                        <h3 class="name">hilix drawnik</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-2.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>02</span></div>
                        <div class="designation">ceo</div>
                        <h3 class="name">Jikiliki boruna</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Block-->
            <div class="team-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{{relative_url}}/assets/images/resource/team-3.jpg" alt="" title="" /></figure>
                    </div>
                    <div class="lower-box">
                        <div class="count"><span>03</span></div>
                        <div class="designation">developer</div>
                        <h3 class="name">kilix h. humble</h3>
                        <div class="more-content">
                            <div class="more-btn">+</div>
                            <div class="share-list">
                                <ul>
                                    <li>
                                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-twitter"></span></a>
                                    </li>
                                    <li>
                                        <a href="#"><span class="fab fa-linkedin-in"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
