<!--Testimonial Section-->
<section class="testimonial-section-two">
    <div class="faded-text style-two">
        <div class="f-text"><span>feedback</span></div>
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title-four left-aligned">
                        <div class="sub-title">testimonials</div>
                        <h2>Success Stories</h2>
                    </div>
                    <div class="content">
                        <div class="big-text"><span>“</span> Great work with this kind of sheet. Thanks to work
                            with this kind people. <span>”</span></div>
                        <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                            fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident. </div>
                        <div class="info clearfix">
                            <div class="image"><img src="/assets/images/resource/author-image-6.png" alt=""></div>
                            <div class="name">Rosalina D. William</div>
                            <div class="designation">Founder</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="image-box">
                        <figure class="image"><img src="/assets/images/resource/featured-image-16.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>