<!--Testimonial Section-->
<section class="testimonial-section">
    <div class="image-layer" style="background-image: url({{relative_url}}/assets/images/background/image-1.jpg);"></div>
    <div class="auto-container">
        <div class="testimonial-carousel owl-theme owl-carousel">
            <div class="slide-item">
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="image">
                                <img src="{{relative_url}}/assets/images/resource/author-image-1.jpg" alt="" title="" />
                                <div class="icon-box"><span class="flaticon-left-quote"></span></div>
                            </div>
                            <div class="info">
                                <h4>Rosalina D. WIlliam</h4>
                                <div class="designation">founder, kilix co.</div>
                            </div>
                            <div class="text">It's difficult to find quality Agency work and it's very expensive in uk. Engaging example was a masterstroke as I'm getting solutions.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="image">
                                <img src="{{relative_url}}/assets/images/resource/author-image-14.jpg" alt="" title="" />
                                <div class="icon-box"><span class="flaticon-left-quote"></span></div>
                            </div>
                            <div class="info">
                                <h4>Jikiliki Boruna</h4>
                                <div class="designation">Developer, kilix co.</div>
                            </div>
                            <div class="text">It's difficult to find quality Agency work and it's very expensive in uk. Engaging example was a masterstroke as I'm getting solutions.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="testimonial-block">
                    <div class="inner-box">
                        <div class="content">
                            <div class="image">
                                <img src="{{relative_url}}/assets/images/resource/author-image-15.jpg" alt="" title="" />
                                <div class="icon-box"><span class="flaticon-left-quote"></span></div>
                            </div>
                            <div class="info">
                                <h4>Hilix Drawnik</h4>
                                <div class="designation">Manager, kilix co.</div>
                            </div>
                            <div class="text">It's difficult to find quality Agency work and it's very expensive in uk. Engaging example was a masterstroke as I'm getting solutions.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>