<!--Why Us Section-->
<section class="why-choose-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Text Column-->
            <div class="text-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner">
                    <div class="sec-title left-aligned">
                        <div class="sub-title">why choose us</div>
                        <h2>diverse range of work.</h2>
                    </div>
                    <div class="text-content">
                        <div class="text-block">
                            <div class="title">
                                <h4>Retina Ready Design</h4>
                            </div>
                            <div class="icon"><span class="flaticon-display"></span></div>
                            <div class="text">We harness the strength of our multi-disciplinary teams to craft the perfect solutions. Diverse range of work for our esteemed clients worldwide is our main target.</div>
                        </div>
                        <div class="text-block">
                            <div class="title">
                                <h4>Pixel Perfect Design</h4>
                            </div>
                            <div class="icon"><span class="flaticon-art"></span></div>
                            <div class="text">We harness the strength of our multi-disciplinary teams to craft the perfect solutions. Diverse range of work for our esteemed clients worldwide is our main target.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Image Column-->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner clearfix">
                    <figure
                        class="image paroller"
                        data-paroller-factor="-0.05"
                        data-paroller-factor-lg="-0.05"
                        data-paroller-factor-md="-0.05"
                        data-paroller-factor-sm="-0.05"
                        data-paroller-type="foreground"
                        data-paroller-direction="horizontal"
                    >
                        <img src="{{relative_url}}/assets/images/resource/featured-image-3.jpg" alt="" />
                    </figure>
                    <figure
                        class="image paroller"
                        data-paroller-factor="0.05"
                        data-paroller-factor-lg="0.05"
                        data-paroller-factor-md="0.05"
                        data-paroller-factor-sm="0.05"
                        data-paroller-type="foreground"
                        data-paroller-direction="horizontal"
                    >
                        <img src="{{relative_url}}/assets/images/resource/featured-image-4.jpg" alt="" />
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>